.body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(../paginas/recursos.html/pexels-withanonim-11578485.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body__catalogo {
    background-image: url(../paginas/recursos.html/recursos/pexels-tara-winstead-7663174.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body__somos {
    background-image: url(../paginas/recursos.html/recursos/fotocajaflor.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body__pago {
    background-image: url(../paginas/recursos.html/recursos/pexels-karolina-grabowska-4968638.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body__envio {
    background-image: url(../paginas/recursos.html/recursos/cajacorreo.jpg);
    background-size: cover;
}