@import "variables";
.navbar {
    background-color: #dfc5d6;
    width: 100vw;
    .logo__ana{
        height: 50px;
        width: 50px;
        border-radius: 80px;
    }
    .nav-item {
        margin-left: 150px;
        color: $color-1-grupo1;
        font-style: italic;
        font-weight:bold;
        .nav-item a:hover {
            color: whitesmoke;
        }
    }
}