$color-1-grupo1:rgb(13, 12, 12);
$color-1grupo2:rgb(235, 177, 177);
$color-1-grupo3:rgb(186, 189, 188,0.6);
$font-family1: 'Times New Roman', Times, serif;
$font-family2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
